.form{
	background: #cd272c;
	color: #fff;
	.container{
		padding: 9rem 16rem;
		display: block;
	}
	h2{
		font: 4rem $font-bold1;
		padding-bottom: 5rem;
		text-align: center;
		span{
			text-transform: uppercase;
		}
	}
	p{
		margin-bottom: 4.5rem;
	}
	form{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		max-width: 95.5rem;
		width: 100%;
		input[type=text],
		input[type=email],
		input[type=tel],
		input[type=number],
		input[type=submit],
		textarea{
			-webkit-appearance: none;
    		-moz-appearance: none;
    		appearance: none;
		    border-radius: 0;
		    border: none;
		    margin: 0;
			&:focus::-webkit-input-placeholder {
			  color: transparent;
			}
			 
			&:focus::-moz-placeholder {
			  color: transparent;
			}
			 
			&:focus:-moz-placeholder {
			  color: transparent;
			}
			&:focus:-ms-input-placeholder {
			  color: transparent;
			}

			&::-webkit-input-placeholder {
			  color: #838383;
			  opacity: 1;
			}
			 
			&::-moz-placeholder {
			  color: #838383;
			   opacity: 1;
			}
			 
			&:-moz-placeholder {
			 color: #838383;
			  opacity: 1;
			}
			&:-ms-input-placeholder {
			  color: #838383;
			   opacity: 1;
			}
		}
		input[type='number'] {
		    -moz-appearance: textfield;
		}
		textarea{
			overflow: hidden;
			resize: none;
			outline:none;
			height: 14.8rem;
		}
		input:not(.button-form),
		textarea{
			margin: 1rem;
			background: #fff;
			padding-left: 2rem;
			font: 900 1.7rem/5.8rem $font2;
		}
		input:not(.button-form){
			height: 5.8rem;
		}
		input[type=tel],
		input[type=number],
		input[type=text]{
			-webkit-box-flex: 1;
			    -ms-flex: 1 44%;
			        flex: 1 44%;
		}
		em,
		input[type=submit],
		textarea,
		input[type=email]{
			-webkit-box-flex: 1;
			    -ms-flex: 1 100%;
			        flex: 1 100%;
		}
		input[type=submit].button-form{
			max-width: 33.3rem;
			width: 100%;
			margin: auto;
			background: #242c3f;
			color: #fff;
			font: 3rem $font-bold1;
			padding: 2.5rem 0;
			cursor: pointer;
			&:hover{
				color: #242c3f;
				background: #fff;
			}
		}
		em{
			text-align: center;
			padding: 3.5rem 0;
			font-size: 1.3rem;
			span{
				color: #ffe167;
			}
		}
	}
}
@media screen and (max-width: 1100px){
.form .container{
	padding: 9rem 10rem;
}	
}
@media screen and (max-width: 800px){
.form .container{
	padding: 5rem 3rem;
}
}
@media screen and (max-width: 650px){
.form form{
	input[type=tel],
	input[type=number],
	input[type=text]{
		-webkit-box-flex: 1;
		    -ms-flex: 1 100%;
		        flex: 1 100%;
	}
}
}